<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="main-container">
        <div id="masonry-container">
            <!-- 지금 로그인되어있는 아이디(필명): {{user.username}} -->
            <!-- <a href="{%url 'logout'%}">로그아웃</a> -->
            {% for post in posts reversed %}
            <div class="post-container">
                <img class="closed-opacity"> </img>
                {% if post.postCover.url != null %}
                <img src="{{ post.postCover.url }}" class="closed-img" alt="...">
                {% elif post.postCover2 != null %}
                <img src="{{ post.postCover2 }}" class="closed-img" alt="...">
                {% endif %}

                <p class="closed-title noto-medium white">{{post.title}}</p>
                <p class="hidden closed-body">{{post.body}}</p>
                <p class="hidden closed-postDate">{{post.postDate | date:'Y.m.d'}}

                </p>
                <p class="hidden closed-username">{{post.username}}</p>
                <img src="{{post.bookID.bookCover}}" class="hidden closed-bookid"></img>
                <p class="hidden closed-bookName">{{post.bookID.bookName}}</p>
                <p class="hidden closed-bookWriter">{{post.bookID.writer}}</p>
                <p class="hidden closed-bookDescription">{{post.bookID.description}}</p>

                <a href="{% url 'back_postLike' post.id %}" class="hidden closed-likes"></a>
                {% if user in post.like.all %}
                <p class="hidden closed-likeNum">{{ post.like.all.count }}</p>
                {% else %}
                <p class="hidden closed-likeNum">0</p>
                {% endif %}

                <a href="{% url 'back_postScrap' post.id %}" class="hidden closed-scrap">{</a>
                {% if user in post.scrap.all %}
                <p class="hidden closed-scrapNum">{{ post.scrap.all.count }}</p>
                {% else %}
                <p class="hidden closed-scrapNum">0</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="opened-post hidden">
            <img src="" class="post-img" alt="">
            <i class="fas fa-times btn-close" type="button" onclick="closePostView(this)"></i>
            <span class="noto-medium beige pub-description pub-date">9999년 99월 99일</span>
            <span class="noto-medium beige pub-description pub-user">username</span>

            <span class="likes-box">
                <a href="" class="btn-like {% if user in post.like.all %} active {% endif %}"><i
                        class="far fa-heart beige like-btn"></i></a>
                <span class="likes-num beige noto-light">0</span>
                <!-- <i class="fas fa-heart beige liked-btn hidden"></i> -->
            </span>
            <span class="scrap-box">
                <a href="" class="btn-scrap {% if user in post.scrap.all %} active {% endif %}"><i
                        class="far fa-bookmark beige scrap-btn"></i></a>

                <span class="scrap-num beige noto-light">0</span>
                <!-- <i class="fas fa-bookmark"></i> -->
            </span>


            <div class="bottom-post-box">
                <h3 class="post-title bareunbatang-medium">제목을 입력하세요</h3>
                <p class="post-body bareunbatang-light">내용을 입력하세요</p>

                <span class="open-book paybooc-bold green" type="button" onclick="openBook()"> > 어떤 책인지 확인하기 < </span>
            </div>
            <div class="bottom-book-box hidden">
                <img class="book-img" src="" alt="">
                <div class="book-text">
                    <div class="book-title noto-bold">책제목입니다</div>
                    <div class="book-author noto-medium dark-gray">by 작가</div>
                    <p class="book-description noto-light">책소개글이 없음</p>
                    <a href="http://www.kyobobook.co.kr/" target="_blank" class="book-url paybooc-bold green"> > 책
                        구경하러 가기 < </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/home_sidebar.js"></script>
</body>

</html>