<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
    <ul class="top-navbar">
        <span>
            <li><a href="">로고</a></li>
            <li><a href="">끄적끄적</a></li>
        </span>
        <li><a href="">둘러보기</a></li>
        <li><a href="">책갈피</a></li>
        <li><a href="">팔로잉</a></li>
        <li><a href="">나의 책장</a></li>
        <li><a href="">글쓰기</a></li>
        <span class="navbar-profile">
            <li><a href="">프로필사진</a></li>
            <li><a href="">안녕하세요 김끄적 독자님!</a></li>
        </span>
    </ul>

    <h1>this is test - sarsartarte ggjggj</h1>

    <div class="footer">
        <div class="footer-left">
            <p>(주)사르사르타르트 | 대표 OOO | 사업자등록번호</p>
            <p>Email : welcom@sarsartarte.com</p>
            <p>주소 : 서울시 서울구 서울길 0층</p>
        </div>
        <div class="footer-right">
            <span class="footer-link">
                <a href="">소개</a>
                <a href="">도움말</a>
                <a href="">홍보센터</a>
                <a href="">채용정보</a>
            </span>
            <span class="footer-link">
                <a href="">개인정보처리방침</a>
                <a href="">약관</a>
                <a href="">위치</a>
                <a href="">언어</a>
                <a href="">고객센터</a>
                <a href="">제휴문의</a>
            </span>
            <p>Copyright 2020. 사르사르타르트. All rights reserved.</p>
        </div>
    </div>
</body>

</html>