<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="main-container">
        지금 로그인되어있는 아이디(필명): {{user.username}}
        <div id="masonry-container">
            {% for post in posts reversed %}
            <div class="closed-post">
                <div class="closed-opacity"> </div>
                {% if post.postCover.url != null %}
                <img src="{{ post.postCover.url }}" class="closed-img" alt="...">
                {% elif post.postCover2 != null %}
                <img src="{{ post.postCover2 }}" class="closed-img" alt="...">
                {% endif %}

                <p class="closed-title noto-medium white">{{post.title}}</p>
                <p class="hidden closed-body">{{post.body}}</p>
            </div>
            {% endfor %}
        </div>

    </div>

    <script type="text/javascript" src="../static/js/home.js"></script>

</body>

</html>