<!-- new 탬플릿입니다. post를 쓸 수 있음. url은 http://127.0.0.1:8000/back_new 로 가시면 됩니다. -->
<!DOCTYPE html>
<html lang="ko">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="new-container">
        <!--onsubmit="return false"-->
        <form name="form" id="form" role="form" method="POST" enctype="multipart/form-data"
            action="{% url 'back_create' %}">
            {% csrf_token %}

            <div class="text_container">
                <!-- 제목, 내용 작성 부분 name: title, body -->
                <input type="text" name="title" class="new_input_title noto-extrabold" placeholder="제목을 입력하세요"
                    autocomplete="off" maxlength="100" onkeyup="textCounter()" onkeydown="textCounter()">
                <span class="title-counter noto-light gray">100자 제한</span>
                <textarea type="text" name="body" class="new-input-body noto-medium" placeholder="책을 읽고 끄적끄적 후기를 남겨보세요."
                    autocomplete="off" onkeydown="autoResize(this)" onkeyup="autoResize(this)"></textarea>
            </div>


            <!-- 이미지 첨부 및 책장선택, 책검색 부분 : left와 right으로 구분함 -->
            <div class="etc_container">
                <div class="etc_image">
                    <div id="btn-upload">
                        <i class="fas fa-cloud-upload-alt green upload-logo"></i>
                        <p class="noto-medium green upload-text">당신의 한 문장에 <br>어울리는 사진이 있나요?</p>
                    </div>

                    <div class="modal hidden">
                        <div class="modal__overlay"></div>
                        <div class="modal__content">
                            <i class="fas fa-times btn-close" type="button"></i>
                            <div class="modal__nav">
                                <p id="nav__upload" class="nav__item noto-medium dark-green">이미지 업로드</p>
                                <p id="nav__unsplash" class="nav__item noto-medium dark-green ">unsplash</p>
                            </div>
                            <div class="upload-container">
                                <label for="img-upload" class="upload-label">
                                    <p class="noto-medium green upload-text">이미지 업로드하기</p>
                                </label>
                                <input type="file" name="postCover" id="img-upload">
                                <!--모델에 저장하기 위한 hidden input-->
                                <input type="hidden" name="postCover2" id="img-upload2">
                                <div id="img__preview"></div>
                            </div>
                            <div class="unsplash-container hidden">
                                <div class="unsplash-search">
                                    <input id="unsplashSearch" class="noto-light" value="" type="text">
                                </div>
                                <div id="unsplashResult"></div>
                            </div>
                        </div>
                    </div>

                    <!--이미지 선택 안할 시 경고문구-->
                    <!-- {% if error %}
                    <div class="acc-error c-error">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span>{{ error }}</span>
                    </div>
                    {% endif %} -->


                </div>
                <div class="etc_book_shelf" data-role="selectBox">
                    <div class="options-container">
                        {% for bookShelf in bookShelves %}
                        <div class="option">
                            <input type="radio" class="radio" id='{{bookShelf.id}}' value="{{bookShelf.id}}">
                            <label for='{{bookShelf.id}}' id='{{bookShelf.id}}'>{{bookShelf.bookShelfTitle}}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="selectedShelf">
                        책장을 선택하세요
                    </div>
                    <input type="hidden" name="bookShelfID" id="bookShelfID">
                </div>
                <div class="etc_book_search">
                    <input id="bookSearch" class="noto-light" value="" type="text" placeholder="읽은 책을 검색하세요">
                    <div id="bookResult" class="results-container"></div>
                    <div class="selectedBook"></div>
                    <!--모델에 저장하기 위한 hidden input-->
                    <!-- <input type="hidden" name="bookInfo" id="bookInfo"> -->
                    <input type="hidden" name="booktitle" id="booktitle">
                    <input type="hidden" name="isbn" id="isbn">
                    <input type="hidden" name="authors" id="authors">
                    <input type="hidden" name="thumbnail" id="thumbnail">
                    <input type="hidden" name="publisher" id="publisher">
                    <input type="hidden" name="contents" id="contents">
                </div>
                <input type="button" class="new-btn-save paybooc-bold beige" value="작성 완료" onclick="formCheck()">
            </div>
        </form>
    </div>

    {% include 'footer.html' %}

    <script type="text/javascript" src="../static/js/new.js"></script>
    <script type="text/javascript" src="../static/js/new-bookapi.js"></script>
    <script type="text/javascript" src="../static/js/new-unsplash.js"></script>

</body>

</html>