<!-- new 탬플릿입니다. post를 쓸 수 있음. url은 http://127.0.0.1:8000/back_new 로 가시면 됩니다. -->
<!DOCTYPE html>
<html lang="ko">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <header class="top-navbar white-background">
        <span>
            <img class="navbar-logo vertically-center" src="{% static 'ggjlogo.png' %}" alt="끄적끄적로고">
            <a class="navbar-title vertically-center green" href="">끄적끄적</a>
        </span>

        <nav class="navbar-links">
            <ul>
                <li><a class="vertically-center" href="">둘러보기</a></li>
                <li><a class="vertically-center" href="">책갈피</a></li>
                <li><a class="vertically-center" href="">팔로잉</a></li>
                <li><a class="vertically-center" href="">나의 책장</a></li>
            </ul>
        </nav>

        <div>
            <a class="navbar-btn-write vertically-center beige" href="">
                <i class="fas fa-pen-nib vertically-center"></i> 글쓰기</a>

            <span class="navbar-profile">
                <i class="fas fa-user-circle vertically-center fa-3x"></i>
                <a class="navbar-welcome vertically-center dark-green" href="">
                    <div>
                        안녕하세요<br>김끄적 독자님!
                    </div>
                </a>
            </span>
        </div>
    </header>

    <div class="new-container">
        <form name="form" id="form" role="form" method="POST" enctype="multipart/form-data"
            action="{% url 'back_create' %}">
            {% csrf_token %}
            <!-- 제목, 내용 작성 부분 name: title, body -->
            <input type="text" name="title" class="new-input-title noto-extrabold" placeholder="제목을 입력하세요"
                autocomplete="off">
            <textarea type="text" name="body" class="new-input-body noto-medium" placeholder="책을 읽고 끄적끄적 후기를 남겨보세요."
                autocomplete="off"></textarea>

            <!-- 이미지 첨부 및 책장선택, 책검색 부분 : left와 right으로 구분함 -->
            <div class="new-etc-container">
                <div class="new-etc-left">
                    <i class="fas fa-cloud-upload-alt green upload-logo"></i><br>
                    <p id="btn-upload" class="noto-medium green upload-text">당신의 한 문장에 어울리는 사진이 있나요?</p>

                    <div class="modal hidden">
                        <div class="modal__overlay"></div>
                        <div class="modal__content">
                            <i class="fas fa-times btn-close" type="button"></i>
                            <div class="modal__nav">
                                <p id="nav__upload" class="nav__item noto-medium dark-green">이미지 업로드</p>
                                <p id="nav__unsplash" class="nav__item noto-medium dark-green ">unsplash</p>
                            </div>
                            <div class="upload-container">
                                <label for="img-upload" class="upload-label">
                                    <p class="noto-medium green upload-text">이미지 업로드하기</p>
                                </label>
                                <input type="file" name="postCover" id="img-upload">
                                <div id="img__preview"></div>
                            </div>

                            <div class="unsplash-container hidden">
                                <div class="unsplash-search">
                                    <input id="postCover" class="noto-light" value="" type="text">
                                    <button id="search" class="paybooc-medium" type="button">검색</button>
                                </div>
                                <div id="result"></div>
                            </div>
                        </div>
                    </div>
                    <div class="new-etc-right">
                        <!-- select name을 bookShelfTitle => bookShelfID 로 수정했습니다.-->
                        <select name="bookShelfID" class="new-bookshelf green paybooc-medium">
                            {% for bookShelf in bookShelves %}
                            {% if user.username == bookShelf.username %}
                            <!-- option value 추가했어요-->
                            <option value='{{bookShelf.id}}'>{{bookShelf.bookShelfTitle}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>

                        <div class="new-book-search">
                            <input id="bookName" value="" type="text">
                            <button id="search" type="button">검색</button>
                            <select name="bookInfo" id="selectBook"></select>
                        </div>
                        <input type="submit" class="new-btn-save paybooc-bold beige" value="작성 완료">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="bottom-footer dark-green-background">
        <div class="footer-left beige bareunbatang-light">
            (주)사르사르타르트 | 대표 OOO | 사업자등록번호 |<br>
            Email : welcom@sarsartarte.com <br>
            주소 : 서울시 서울구 서울길 0층
        </div>
        <div class="footer-right">
            <span class="footer-link">
                <a class="bareunbatang-light beige" href="">소개</a>
                <a class="bareunbatang-light beige" href="">도움말</a>
                <a class="bareunbatang-light beige" href="">홍보센터</a>
                <a class="bareunbatang-light beige" href="">채용정보</a>
            </span>
            <br>
            <span class="footer-link">
                <a class="bareunbatang-light beige" href="">개인정보처리방침</a>
                <a class="bareunbatang-light beige" href="">약관</a>
                <a class="bareunbatang-light beige" href="">위치</a>
                <a class="bareunbatang-light beige" href="">언어</a>
                <a class="bareunbatang-light beige" href="">고객센터</a>
                <a class="bareunbatang-light beige" href="">제휴문의</a>
            </span>
            <p class="bareunbatang-light beige">Copyright 2020. 사르사르타르트. All rights reserved.</p>
        </div>
    </div>

    <script>
        const body = document.querySelector('body');

        const openBtn = document.getElementById("btn-upload");
        const modal = document.querySelector(".modal");
        const overlay = modal.querySelector(".modal__overlay");
        const closeBtn = modal.querySelector(".btn-close");
        const fileBtn = modal.querySelector("#img-upload");

        const navUpload = modal.querySelector("#nav__upload");
        const navUnsplash = modal.querySelector("#nav__unsplash");
        const contUpload = modal.querySelector(".upload-container");
        const contUnsplash = modal.querySelector(".unsplash-container");

        const uploadBtn = modal.querySelector("#img-upload");
        const imgPre = modal.querySelector("#img__preview");

        const openModal = () => {
            modal.classList.remove("hidden");
            body.classList.add("not-scroll");
        }
        const closeModal = () => {
            modal.classList.add("hidden");
            body.classList.remove("not-scroll");
        }
        const openUpload = () => {
            contUnsplash.classList.add("hidden");
            contUpload.classList.remove("hidden");
        }
        const openUnsplash = () => {
            contUpload.classList.add("hidden");
            contUnsplash.classList.remove("hidden");
        }
        const showPreview = (e) => {
            let get_file = e.target.files;
            let image = document.createElement('img');
            if (imgPre.hasChildNodes()) {
                imgPre.removeChild(imgPre.firstChild);
            }

            /* FileReader 객체 생성 */
            var reader = new FileReader();

            /* reader 시작 시 함수 구현 */
            reader.onload = (function (aImg) {
                console.log(1);

                return function (e) {
                    console.log(3);
                    aImg.src = e.target.result
                }
            })(image)

            if (get_file) {
                reader.readAsDataURL(get_file[0]);
                console.log(2);
            }

            imgPre.appendChild(image);
        }

        overlay.addEventListener("click", closeModal);
        closeBtn.addEventListener("click", closeModal);
        openBtn.addEventListener("click", openModal);
        navUpload.addEventListener("click", openUpload);
        navUnsplash.addEventListener("click", openUnsplash);
        uploadBtn.addEventListener("change", showPreview);
    </script>

    <script>
        $(document).ready(function () {
            $("#search").click(function () {
                var search = $("#postCover").val()
                $.ajax({
                    method: "GET",
                    url: "https://api.unsplash.com/search/photos?page=1&query=" + search +
                        "&client_id=6YvVbroc-hwUBpgp89bjK5fgUs-_eSSH6dyPjDuqmYw&per_page=20",
                    success: function (msg) {
                        $("#result *").remove();
                        msg.results.forEach(item => {
                            image =
                                `<div class="list_item">
                                <img class="list_img" src="${item.urls.thumb}"/> <p class="list_text noto-light gray">${item.alt_description}</p>
                                </div>`
                            $("#result").append(image)
                        });
                        console.log(msg)
                    }
                })
                // .done(function (msg) {
                //     $("#selectBook *").remove();
                //     for (var i = 0; i < 10; i++) {
                //         // document.getElementById("select").innerHTML="<option>"+msg.documents[i].title+"</option>"
                //         let data = JSON.stringify(msg.documents[i])
                //         $("#selectBook").append("<option value = '"+data+"'>"+msg.documents[i].title+"<br>"+msg.documents[i].authors+"<br>"+msg.documents[i].thumbnail+"<br>"+msg.documents[i].contents+"<br>"+msg.documents[i].publisher+ msg.documents[i].isbn + "</option>");
                //         // console.log(msg.documents[i].title);
                //         // console.log(msg.documents[i].thumbnail);
                //         // $("p").append("<strong>" + msg.documents[i].title + "</strong><br>");
                //         // $("p").append("<strong>" + msg.documents[i].authors + "</strong><br>");
                //         // $("p").append("<img src='" + msg.documents[i].thumbnail + "'/><br>");
                //         // $("p").append("<strong>" + msg.documents[i].contents + "</strong><br>");
                //         // $("p").append("<strong>" + msg.documents[i].publisher + "</strong><br>");
                //     }
                // });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#search").click(function () {
                $.ajax({
                        method: "GET",
                        url: "https://dapi.kakao.com/v3/search/book?target=title",
                        data: {
                            query: $("#bookName").val()
                        },
                        headers: {
                            Authorization: "KakaoAK ea6f4522facf69c938f433e154fd99a1"
                        }
                    })
                    .done(function (msg) {
                        $("#selectBook *").remove();
                        for (var i = 0; i < 10; i++) {
                            // document.getElementById("select").innerHTML="<option>"+msg.documents[i].title+"</option>"
                            let data = JSON.stringify(msg.documents[i])
                            $("#selectBook").append("<option value = '" + data +
                                "'>" + msg.documents[i].title + "<br>" + msg
                                .documents[i].authors + "<br>" + msg.documents[
                                    i].thumbnail + "<br>" + msg.documents[i]
                                .contents + "<br>" + msg.documents[i]
                                .publisher + msg.documents[i].isbn + "</option>"
                            );
                            // console.log(msg.documents[i].title);
                            // console.log(msg.documents[i].thumbnail);
                            // $("p").append("<strong>" + msg.documents[i].title + "</strong><br>");
                            // $("p").append("<strong>" + msg.documents[i].authors + "</strong><br>");
                            // $("p").append("<img src='" + msg.documents[i].thumbnail + "'/><br>");
                            // $("p").append("<strong>" + msg.documents[i].contents + "</strong><br>");
                            // $("p").append("<strong>" + msg.documents[i].publisher + "</strong><br>");
                        }
                    });
            });
        });
    </script>

</body>

</html>