/* 회원가입, 로그인 공통 Style */
/* 재사용되지 않는 코드는 login.css, signUp.css 확인해주세요 */
/* class 이름 효율성 때문에 공통적인 스타일 요소는 'acc'로 시작합니다. */

/* Color Style 
    black: #000000
    dark-green: #1A2E1B
    green: #205F53
    light-green: #73958F
    beige: #F8F2C9
    dark-gray: #707070
    gray: #CECECE
    light-gray: #F7F8F7
    khaki: #87836B
    error: #FF3636
    success: #0CBB29
    caution: #EFDD39
*/

body {
    background: #1A2E1B;
}

.acc-title {
    color: #F8F2C9;
    font-size: 50px;
    font-family: 'paybooc-Bold', sans-serif;
}

.acc-input-txt {
    color: #87836B;
    font-size: 20px;
    font-family: 'paybooc-Light', sans-serif;
}

/* 회원가입 - 본인인증, 기본정보 입력 */
.acc-guide-txt {
    color: #CECECE;
    font-size: 24px;
    font-family: 'paybooc-Medium', sans-serif;
}

/* 회원가입 약관동의 텍스트 */
.acc-agree-link {
    color: #CECECE;
    font-size: 16px;
    font-family: 'paybooc-Bold', sans-serif;
}

/* error 텍스트 */
.acc-error-txt {
    color: #FF3636;
    font-size: 16px;
    font-family: 'paybooc-Medium', sans-serif;
}

.acc-wide-btn {
    width: 420px;
    height: 56px;
    padding: 16px 50px;
    border: 1px solid #F8F2C9;
    background: #F8F2C9;
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-family: 'paybooc-Bold', sans-serif;
    box-sizing: border-box;
}

.acc-small-btn {
    width: 160px;
    height: 56px;
    padding: 18px 33px;
    margin-left: 10px;
    border: 1px solid #F8F2C9;
    background: #F8F2C9;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-family: 'paybooc-Medium', sans-serif;
    box-sizing: border-box;
}

.acc-wide-input {
    width: 420px;
    height: 56px;
    padding: 16px 24px;
    border: 1px solid #87836B;
    background: #1a2e1b00;
    color: #87836B;
    font-size: 20px;
    font-family: 'paybooc-Light', sans-serif;
    box-sizing: border-box;
}

.acc-small-input {
    width: 250px;
    height: 56px;
    padding: 16px 24px;
    border: 1px solid #87836B;
    background: #1a2e1b00;
    color: #87836B;
    font-size: 20px;
    font-family: 'paybooc-Light', sans-serif;
    box-sizing: border-box;
}