/* reset & default css style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* 1024px 이상일 때 적용할 기본 스타일 */

/* 메인컨텐츠 관련 */
.main-container {

    width: 1165px;
    height: 100%;
    padding: 20px 30px;
    margin: 0 auto;
    box-sizing: content-box;
}

#masonry-container {
    display: inline-flex;
    position: relative;
    width: 1165px;
    height: 100%;
    box-sizing: border-box;
}

.post-container {
    display: inline-block;
    position: absolute;
    width: 280px;
    margin: 10px 0px;
}

/* closed-container : 0번 펼친 글 스타일 */
.closed-post {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.closed-img {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
    border-radius: 5px;
}

.closed-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.closed-title {
    position: absolute;
    max-width: 220px;
    top: 30px;
    left: 30px;
    font-size: 16px;
    line-height: 140%;
}

/* opened-container : 1번 펼친 글 스타일 (책정보 없고 글만 있는 상태) */
.opened-post {
    position: absolute;
    width: 575px;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid #CECECE;
    margin-bottom: 15px;
    transition: all 0.4s;
    box-sizing: border-box;
}

.opened-img {
    width: 573px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.btn-close {
    all: unset;
    cursor: pointer;
    padding: 10px 15px;
    float: right;
  }

.pub-date {
    position: absolute;
    top: 250px;
    right: 90px;
}

.pub-user {
    position: absolute;
    top: 250px;
    right: 30px;
}

.bottom-post-box {
    padding: 30px 50px;
}

.post-body {
    line-height: 1.5;
}

@media ( max-width: 1023px ) { 
    /* 1023px 이하일 때 적용할 스타일*/
}
@media ( max-width: 767px ) { 
    /* 767px 이하일 때 적용할 스타일 */ 
}



