/* 로그인 전용 Style */

/* 로그인 - 안내 문구 */
/* 로그인 - ID/PW 찾기, 회원가입 a 링크 */
.login-guide-txt {
    margin: 16px 3px;
    padding-bottom: 3px;
    color: #CECECE;
    font-size: 16px;
    text-decoration: none;
}

.blank {
    margin-top: 20px;
}