/* navbar, footer Style */
/* class 이름 효율성 때문에 스타일 요소는 'nav', 'foot'으로 시작합니다 */

/* Color Style 
    black: #000000
    dark-green: #1A2E1B
    green: #205F53
    light-green: #73958F
    beige: #F8F2C9
    dark-gray: #707070
    gray: #CECECE
    light-gray: #F7F8F7
    khaki: #87836B
    error: #FF3636
    success: #0CBB29
    caution: #EFDD39
*/

.top-navbar * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 네브바 관련 class */
.top-navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 20px calc((100% - 1160px) / 2);
    margin: 0 auto;
    max-width: 1160px;
    min-width: 960px;
    box-sizing: content-box;
    overflow: hidden;
    top: 0;
    z-index: 10;
}

.navbar-logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.navbar-title {
    font-size: 32px;
    text-decoration: none;
    margin-left: 12px;
    font-family: 'paybooc-Extrabold', sans-serif;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    padding: 0px 15px;
}

.navbar-links li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: 'paybooc-Medium', sans-serif;
}

.navbar-links li a:hover {
    color: #205F53;
}

.active {
    color: #205F53;
    border-bottom: 1px solid #205F53;
}

.navbar-btn-write {
    display: inline-block;
    box-sizing: border-box;
    background-color: #205F53;
    border-radius: 40px;
    padding: 10px 18px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 34px;
    font-family: 'paybooc-Medium', sans-serif;
    line-height: 1;
}

.fa-user-circle {
    width: 44px;
    height: 44px;
    color: #1A2E1B;
}

.navbar-welcome {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'paybooc-Medium', sans-serif;
    line-height: 1.2;
    cursor: pointer;
}

.vertically-center {
    vertical-align: middle;
}

/* 프로필 클릭시 드롭다운 메뉴 */
.navbar-menu {
    position: relative;
    list-style: none;
}

.navbar-menu li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    border: 1px solid black;
}

.navbar-menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'paybooc-Medium', sans-serif;
}

.navbar-menu li a:hover {
    color: #205F53;
}
/*.navbar-mymenu{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    border: 1px solid black;
    /* 엉엉 왜 박스안에 들어가질 못하니 ㅜ 
}*/

/* 푸터관련모음 */
.bottom-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px calc((100% - 1160px) / 2);
    max-width: 1160px;
    min-width: 960px;
    overflow: hidden;
    font-size: 14px;
}

.footer-link a {
    font-family: 'BareunBatang-Light', serif;
    font-size: 14px;
}

.footer-right a {
    text-decoration: none;
}

.footer-right {
    line-height: 1.5em;
}

.footer-left {
    line-height: 1.5em;
}

/* 배경색모음 */
.white-background {
    background-color: #FFFFFF;
}

.dark-green-background {
    background-color: #1A2E1B;
}