/* navbar, footer Style */
/* class 이름 효율성 때문에 스타일 요소는 'nav', 'foot'으로 시작합니다 */

/* Color Style 
    black: #000000
    dark-green: #1A2E1B
    green: #205F53
    light-green: #73958F
    beige: #F8F2C9
    dark-gray: #707070
    gray: #CECECE
    light-gray: #F7F8F7
    khaki: #87836B
    error: #FF3636
    success: #0CBB29
    caution: #EFDD39
*/

.nav-elem {
    color: #000000;
    font-size: 24px;
    font-family: 'paybooc-Medium', sans-serif;
}

.nav-emphasis {
    padding-bottom: 6px;
    border-bottom: 1px solid #205F53;
    color: #205F53;
}

/* 글쓰기버튼 with 펜 icon */
.nav-post {
    padding: 10px 20px;
    border: 1px solid #205F53;
    border-radius: 10px;
    background: #205F53;
    color: #F8F2C9;
    font-size: 20px;
    font-family: 'paybooc-Medium', sans-serif;
}

/* 안녕하세요 김끄적 독자님! */
.nav-welcome {
    color: #000000;
    font-size: 20px;
    font-family: 'paybooc-Medium', sans-serif;
}