<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/myPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
</head>

<body>

    {% include 'navbar.html' %}
    
    <div class="navbar-bookShelf">
        <a class="bookShelf-title green" href="">나의 책장</a> 
        <div class="bookShelf-floating">
            <div>
                <div class="navbar-bookShelf-border">
                    <ul>
                        <li><a class="navbar-bookShelf-item green" href="javascript:return false;" onclick="reloadBookShelf(-1);">전체</a></li>
                        {% for bookShelf in bookShelves %}
                            {% if user.username == bookShelf.username %}
                                <li><a class="navbar-bookShelf-item green" href="javascript:return false;" onclick="reloadBookShelf('{{bookShelf.id}}')">{{bookShelf.bookShelfTitle}}</a></li>
                            {%endif%}
                        {% endfor %}
                    </ul>
    
                    <a class="navbar-bookShelf-edit gray" id="btn-edit-bookShelf" href="javascript:return false;">책장 편집하기</a>

                    <!-- <div class="hidden post-container">
                        <div class="hidden selected-post">
                            <img src="" class="post-img" alt="">
                            <i class="fas fa-times btn-close" type="button" onclick="closePostView(this)"></i>
                            <span class="noto-medium beige pub-description pub-date">9999년 99월 99일</span>
                            <span class="noto-medium beige pub-description pub-user">username</span>
    
                            <span class="likes-box">
                                <a href="" class="btn-like {% if user in post.like.all %} active {% endif %}"><i
                                    class="far fa-heart beige like-btn"></i></a>
                                <span class="likes-num beige noto-light">0</span>

                            </span>
                            <span class="scrap-box">
                                <a href="" class="btn-scrap {% if user in post.scrap.all %} active {% endif %}"><i
                                        class="far fa-bookmark beige scrap-btn"></i></a>
    
                                <span class="scrap-num beige noto-light">0</span>
                                
                            </span>
    
                            <div class="bottom-post-box">
                                <h3 class="post-title bareunbatang-medium">제목을 입력하세요</h3>
                                <p class="post-body bareunbatang-light">내용을 입력하세요</p>
    
                            </div>
                            <div class="bottom-book-box">
                                <img class="book-img" src="" alt="">
                                <div class="book-text">
                                    <div class="book-title noto-bold">책제목입니다</div>
                                    <div class="book-author noto-medium dark-gray">by 작가</div>
                                    <p class="book-description noto-light">책소개글이 없음</p>
                                    <a href="http://www.kyobobook.co.kr/" target="_blank" class="book-url paybooc-bold green"> > 책
                                        구경하러 가기 < </a>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="modal hidden">
                        <!--배경-->
                        <div class="modal_overlay"></div>
                        <!--컨텐츠-->
                        <div class="modal_content">
                            <!--종료 아이콘-->
                            <i class="fas fa-times btn-close" type="button"></i>
                            <div class="modal_title paybooc-extrabold green">나의 책장 편집</div>
                            
                            <div class="bookShelf-editor">
                                {% for bookShelf in bookShelves %}
                                    {% if user.username == bookShelf.username %}
                                        <div class="bookShelf-tool-container">
                                            <p class="paybooc-bold dark-gray bookShelf-edit-title">{{bookShelf.bookShelfTitle}}</p>
                                            <form action="{% url 'back_updateBookShelf' bookShelf.id  %}" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input class="paybooc-medium hidden bookShelf-title-input" value="{{bookShelf.bookShelfTitle}}" name="bookShelfTitle">
                                                <input type="submit" class="paybooc-bold hidden bookShelf-name-change-complete" value="완료">
                                            </form>
                                            <!-- <input class="paybooc-medium hidden bookShelf-title-input" value="{{bookShelf.bookShelfTitle}}">
                                            <a class="paybooc-bold hidden bookShelf-name-change-complete" href="">완료</a> -->
                                            <div>
                                                <i class="bookShelf-edit-icon far fa-edit"></i>
                                                <a href="{% url 'back_deleteBookShelf' bookShelf.id %}"><i class="bookShelf-delete-icon far fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    {%endif%}
                                {% endfor %}    
                            </div>
                            <center>
                                <form action="{% url 'back_createBookShelf' %}">
                                    <input class="paybooc-light bookShelf-input" placeholder="  새로운 책장 이름을 입력하세요" type="text" name="bookShelfTitle">
                                    <!-- <input class="btn btn-dark" type="submit" value="제출하기"> -->
                                    <button style="border: none; color: none; background: none;" type="submit"><i class="fas fa-plus bookShelf-add"></i></button>
                                </form>
                            </center>
                            <!-- <center>
                                <a href="" class="noto-bold bookShelf-edit-complete beige">편집 완료</a>
                            </center> -->
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="my-book-search">
                <input onkeyup="searchBook()" class="my-book-search-input" id="bookName" placeholder="찾고 싶은 책을 검색하세요" type="text">
            </div>
        </div>
    </div>

    <div class="my-bookShelf-background">
        <div class="my-bookShelf">
            <!-- 전체 로딩을 끝내고, 책장을 선택하면 책장에 맞는 책만 보여 주도록 -->
            <script>
                var count=0;

                document.write("<div class='my-book-oneLine'>")
            </script>
            {% for post in posts %}
                    <script>
                        document.write("<div class='book-info' id='{{post.bookShelfID}}'>")
                        document.write('<a class="book-cover" href="" id="{{post.bookID.bookName}}"><img src="{{post.bookID.bookCover}}" alt=""></a></div>')
                    </script>

                    <!-- <div class="hidden posts">
                        <img class="closed-opacity"> </img>
                        {% if post.postCover.url != null %}
                        <img src="{{ post.postCover.url }}" class="closed-img" alt="...">
                        {% elif post.postCover2 != null %}
                        <img src="{{ post.postCover2 }}" class="closed-img" alt="...">
                        {% endif %}

                        <p class="closed-title noto-medium white">{{post.title}}</p>
                        <p class="hidden">{{post.body}}</p>
                        <p class="hidden">{{post.postDate | date:'Y.m.d'}}

                        </p>
                        <p class="hidden closed-username">{{post.username}}</p>
                        <img src="{{post.bookID.bookCover}}" class="hidden closed-bookid"></img>
                        <p class="hidden closed-bookName">{{post.bookID.bookName}}</p>
                        <p class="hidden closed-bookWriter">{{post.bookID.writer}}</p>
                        <p class="hidden closed-bookDescription">{{post.bookID.description}}</p>

                        <a href="{% url 'back_postLike' post.id %}" class="hidden closed-likes"></a>
                        {% if user in post.like.all %}
                        <p class="hidden closed-likeNum">{{ post.like.all.count }}</p>
                        {% else %}
                        <p class="hidden closed-likeNum">0</p>
                        {% endif %}

                        <a href="{% url 'back_postScrap' post.id %}" class="hidden closed-scrap">{</a>
                        {% if user in post.scrap.all %}
                        <p class="hidden closed-scrapNum">{{ post.scrap.all.count }}</p>
                        {% else %}
                        <p class="hidden closed-scrapNum">0</p>
                        {% endif %}
                    </div> -->
            {% endfor %}
            <script>
                document.write("</div>")
            
                var item, idOfElements;

                function reloadBookShelf(id) {
                    item = document.getElementsByClassName("book-info");
                    if(id==-1){
                        for(i=0; i<item.length;i++){
                            item[i].style.display = "flex";
                        }
                    }else{
                        for(i=0; i<item.length;i++){
                            idOfElements = item[i].id
                            if(idOfElements==id){
                                item[i].style.display = "flex";
                            }else{
                                item[i].style.display = "none";
                            }
                        }
                    }
                }

                function searchBook() {
            
                    var value, name, item, i;

                    value = document.getElementById("bookName").value;
                    item = document.getElementsByClassName("book-info");
                    
                    console.log(value);

                    name = document.getElementsByClassName("book-cover")

                    for(i=0;  i<item.length; i++){
                        if(name[i].id.indexOf(value) > -1){
                            console.log("in");
                            item[i].style.display = "flex";
                        }else{
                            console.log("else");
                            item[i].style.display = "none";
                        }
                    }
                }
            </script>
        </div>
    </div>
    
    {% include 'footer.html' %}

    <script type="text/javascript" src="../static/js/myPage.js"></script>
</body>

</html>