<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/myPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
</head>

<body>

    {% include 'navbar.html' %}
    
    <div class="navbar-bookShelf">
        <a class="bookShelf-title vertically-center green" href="">나의 책장</a> 
        <div class="bookShelf-floating">
            <div>
                <div class="navbar-bookShelf-border">
                    <ul>
                        <li><a class="navbar-bookShelf-item green" href="javascript:return false;" onclick="reloadBookShelf(-1);">전체</a></li>
                        {% for bookShelf in bookShelves %}
                            {% if user.username == bookShelf.username %}
                                <li><a class="navbar-bookShelf-item green" href="javascript:return false;" onclick="reloadBookShelf('{{bookShelf.id}}')">{{bookShelf.bookShelfTitle}}</a></li>
                            {%endif%}
                        {% endfor %}
                    </ul>
    
                    <a class="navbar-bookShelf-edit gray" href="">책장 편집하기</a>

                    <div class="modal">
                        <!--배경-->
                        <div class="modal_overlay"></div>
                        <!--컨텐츠-->
                        <div class="modal_content">
                            <!--종료 아이콘-->
                            <i class="fas fa-times btn-close" type="button"></i>
                            <div class="modal_title">나의 책장 편집</div>
                            
                            <div class="bookShelf_editor">
                                {% for bookShelf in bookShelves %}
                                    {% if user.username == bookShelf.username %}
                                        <div>
                                            <p>{{bookShelf.bookShelfTitle}}</p>
                                            <input value="{{bookShelf.bookShelfTitle}}">
                                            <p>완료</p>
                                            <div>
                                                <i class="far fa-edit"></i>
                                                <i class="far fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    {%endif%}
                                {% endfor %}
                                <input placeholder="새로운 책장 이름을 입력하세요" type="text">
                                <p>편집 완료</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="my-book-search">
                <input onkeyup="searchBook()" class="my-book-search-input" id="bookName" placeholder="찾고 싶은 책을 검색하세요" type="text">
            </div>
        </div>
    </div>

    <div class="my-bookShelf-background">
        <div class="my-bookShelf">
            <!-- 전체 로딩을 끝내고, 책장을 선택하면 책장에 맞는 책만 보여 주도록 -->
            <script>
                var count=0;

                document.write("<div class='my-book-oneLine'>")
            </script>
            {% for post in posts %}
                    <script>
                        document.write("<div class='book-info' id='{{post.bookShelfID}}'>")
                        document.write('<a class="book-cover" href="" id="{{post.bookID.bookName}}"><img src="{{post.bookID.bookCover}}" alt=""></a></div>')
                    </script>
            {% endfor %}
            <script>
                document.write("</div>")
            
                var item, idOfElements;

                function reloadBookShelf(id) {
                    item = document.getElementsByClassName("book-info");
                    if(id==-1){
                        for(i=0; i<item.length;i++){
                            item[i].style.display = "flex";
                        }
                    }else{
                        for(i=0; i<item.length;i++){
                            idOfElements = item[i].id
                            if(idOfElements==id){
                                item[i].style.display = "flex";
                            }else{
                                item[i].style.display = "none";
                            }
                        }
                    }
                }

                function searchBook() {
            
                    var value, name, item, i;

                    value = document.getElementById("bookName").value;
                    item = document.getElementsByClassName("book-info");
                    
                    console.log(value);

                    name = document.getElementsByClassName("book-cover")

                    for(i=0;  i<item.length; i++){
                        if(name[i].id.indexOf(value) > -1){
                            console.log("in");
                            item[i].style.display = "flex";
                        }else{
                            console.log("else");
                            item[i].style.display = "none";
                        }
                    }
                }
            </script>
        </div>
    </div>
    
   
    <div class="bottom-footer dark-green-background">
        <div class="footer-left beige bareunbatang-light">
            (주)사르사르타르트 | 대표 OOO | 사업자등록번호 |<br>
            Email : welcom@sarsartarte.com <br>
            주소 : 서울시 서울구 서울길 0층
        </div>
        <div class="footer-right">
            <span class="footer-link">
                <a class="bareunbatang-light beige" href="">소개</a>
                <a class="bareunbatang-light beige" href="">도움말</a>
                <a class="bareunbatang-light beige" href="">홍보센터</a>
                <a class="bareunbatang-light beige" href="">채용정보</a>
            </span>
            <br>
            <span class="footer-link">
                <a class="bareunbatang-light beige" href="">개인정보처리방침</a>
                <a class="bareunbatang-light beige" href="">약관</a>
                <a class="bareunbatang-light beige" href="">위치</a>
                <a class="bareunbatang-light beige" href="">언어</a>
                <a class="bareunbatang-light beige" href="">고객센터</a>
                <a class="bareunbatang-light beige" href="">제휴문의</a>
            </span>
            <p class="bareunbatang-light beige" >Copyright 2020. 사르사르타르트. All rights reserved.</p>
        </div>
    </div>
</body>

</html>