<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/myPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
</head>

<body>

    {% include 'navbar.html' %}
    
    <div class="navbar-bookShelf">
        <a class="bookShelf-title green" href="">나의 책장</a> 
        <div class="bookShelf-floating">
            <div>
                <div class="navbar-bookShelf-border">
                    <ul>
                        <li><a class="navbar-bookShelf-item green" href="javascript:return false;" onclick="reloadBookShelf(-1);">전체</a></li>
                        {% for bookShelf in bookShelves %}
                            {% if user.username == bookShelf.username %}
                                <li><a class="navbar-bookShelf-item green" href="javascript:return false;" onclick="reloadBookShelf('{{bookShelf.id}}')">{{bookShelf.bookShelfTitle}}</a></li>
                            {%endif%}
                        {% endfor %}
                    </ul>
    
                    <a class="navbar-bookShelf-edit gray" id="btn-edit-bookShelf" href="javascript:return false;">책장 편집하기</a>

                    <div class="modal hidden">
                        <!--배경-->
                        <div class="modal_overlay"></div>
                        <!--컨텐츠-->
                        <div class="modal_content">
                            <!--종료 아이콘-->
                            <i class="fas fa-times btn-close" type="button"></i>
                            <div class="modal_title paybooc-extrabold green">나의 책장 편집</div>
                            
                            <div class="bookShelf-editor">
                                {% for bookShelf in bookShelves %}
                                    {% if user.username == bookShelf.username %}
                                        <div class="bookShelf-tool-container">
                                            <p class="paybooc-bold dark-gray bookShelf-edit-title">{{bookShelf.bookShelfTitle}}</p>
                                            <input class="paybooc-medium hidden bookShelf-title-input" value="{{bookShelf.bookShelfTitle}}">
                                            <p class="paybooc-bold hidden bookShelf-name-change-complete">완료</p>
                                            <div>
                                                <i class="bookShelf-edit-icon far fa-edit"></i>
                                                <i class="bookShelf-delete-icon far fa-trash-alt"></i>
                                            </div>
                                        </div>
                                    {%endif%}
                                {% endfor %}    
                            </div>
                            <center>
                                <input class="paybooc-light bookShelf-input" placeholder="  새로운 책장 이름을 입력하세요" type="text">
                                <i class="fas fa-plus bookShelf-add"></i>
                            </center>
                            <center>
                                <a href="" class="noto-bold bookShelf-edit-complete beige">편집 완료</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="my-book-search">
                <input onkeyup="searchBook()" class="my-book-search-input" id="bookName" placeholder="찾고 싶은 책을 검색하세요" type="text">
            </div>
        </div>
    </div>

    <div class="my-bookShelf-background">
        <div class="my-bookShelf">
            <!-- 전체 로딩을 끝내고, 책장을 선택하면 책장에 맞는 책만 보여 주도록 -->
            <script>
                var count=0;

                document.write("<div class='my-book-oneLine'>")
            </script>
            {% for post in posts %}
                    <script>
                        document.write("<div class='book-info' id='{{post.bookShelfID}}'>")
                        document.write('<a class="book-cover" href="" id="{{post.bookID.bookName}}"><img src="{{post.bookID.bookCover}}" alt=""></a></div>')
                    </script>
            {% endfor %}
            <script>
                document.write("</div>")
            
                var item, idOfElements;

                function reloadBookShelf(id) {
                    item = document.getElementsByClassName("book-info");
                    if(id==-1){
                        for(i=0; i<item.length;i++){
                            item[i].style.display = "flex";
                        }
                    }else{
                        for(i=0; i<item.length;i++){
                            idOfElements = item[i].id
                            if(idOfElements==id){
                                item[i].style.display = "flex";
                            }else{
                                item[i].style.display = "none";
                            }
                        }
                    }
                }

                function searchBook() {
            
                    var value, name, item, i;

                    value = document.getElementById("bookName").value;
                    item = document.getElementsByClassName("book-info");
                    
                    console.log(value);

                    name = document.getElementsByClassName("book-cover")

                    for(i=0;  i<item.length; i++){
                        if(name[i].id.indexOf(value) > -1){
                            console.log("in");
                            item[i].style.display = "flex";
                        }else{
                            console.log("else");
                            item[i].style.display = "none";
                        }
                    }
                }
            </script>
        </div>
    </div>
    
    {% include 'footer.html' %}

    <script type="text/javascript" src="../static/js/myPage.js"></script>
</body>

</html>