<div class="bottom-footer dark-green-background">
    <div class="footer-left beige bareunbatang-light">
        (주)사르사르타르트 | 대표 OOO | 사업자등록번호 |<br>
        Email : welcom@sarsartarte.com <br>
        주소 : 서울시 서울구 서울길 0층
    </div>
    <div class="footer-right">
        <span class="footer-link">
            <a class="bareunbatang-light beige" href="">소개</a>
            <a class="bareunbatang-light beige" href="">도움말</a>
            <a class="bareunbatang-light beige" href="">홍보센터</a>
            <a class="bareunbatang-light beige" href="">채용정보</a>
        </span>
        <br>
        <span class="footer-link">
            <a class="bareunbatang-light beige" href="">개인정보처리방침</a>
            <a class="bareunbatang-light beige" href="">약관</a>
            <a class="bareunbatang-light beige" href="">위치</a>
            <a class="bareunbatang-light beige" href="">언어</a>
            <a class="bareunbatang-light beige" href="">고객센터</a>
            <a class="bareunbatang-light beige" href="">제휴문의</a>
        </span>
        <p class="bareunbatang-light beige">Copyright 2020. 사르사르타르트. All rights reserved.</p>
    </div>
</div>