<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
  <div class="login-container">
    <h1 class="">로그인</h1>
    <p class="">끄적끄적 서비스를 이용하기 위해 로그인 해주세요</p>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <div class="">
      <form id="" name="" method="post" action="{% url 'back_login' %}" class="">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="아이디"></p>
        <p><input type="password" name="password" placeholder="비밀번호"></p>
        <p><input type="checkbox" name="keep_login">로그인 유지</p>
        <p><input type="submit" value="로그인"></p>
      </form>
      <a href="#">ID/PW 찾기</a> | <a href="#">회원가입</a>
    </div>
    <!--//login_wrapper -->
  </div>
  <!--//content -->
</body>

</html>