<!DOCTYPE html>
<html lang="ko">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/c8c52fc116.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="acc-container">
        <h1 class="acc-title">로그인</h1>
        <p class="login-guide-txt paybooc-medium">끄적끄적 서비스를 이용하기 위해 로그인 해주세요</p>
        {% if error %}
        <div class="acc-error c-error">
            <i class="fas fa-exclamation-triangle"></i>
            <span>{{ error }}</span>
        </div>
        {% endif %}

        <form id="" name="" method="post" action="{% url 'back_login' %}" class="acc-input-section">
            {% csrf_token %}
            <input class="acc-wide-input" name="username" type="text" value="" placeholder="필명(ID)"><!-- 아이디 -->
            <br>
            <input class="acc-wide-input" name="password" type="password" value="" placeholder="비밀번호" )>
            <!-- 비밀번호 -->
            <div class="login-check-box gray paybooc-light">
                <input id="acc-cb" type="checkbox" name="keep_login">
                <label for="acc-cb"></label>
                <span>로그인 유지</span>
            </div>
            <input class="acc-wide-btn" type="submit" value="로그인">
        </form>
        <div class="blank beige paybooc-light">
            <a class="login-guide-txt" href="#">ID/PW 찾기</a> | <a class="login-guide-txt" href="#">회원가입</a>
        </div>
        <!--//login_wrapper -->
    </div>
    <!--//content -->
</body>

</html>