<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1 class="">로그인</h1>
    <p class="">끄적끄적 서비스를 이용하기 위해 로그인 해주세요</p>
    <div class="">
      <form id="" name="" method="post" action="" class="">
        <p><input type="text" placeholder="아이디"></p>
        <p><input type="password" placeholder="비밀번호"></p>
        <p><input type="checkbox">로그인 유지</p>
        <p><button type="button">로그인</button></p>
      </form>
      <a href="#">ID/PW 찾기</a> | <a href="#">회원가입</a>
    </div><!--//login_wrapper -->
  </div><!--//content -->   
</body>
</html>