<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>

<body>
    <!-- form tag 추가하기, csrf_token 추가하기, 약관동의 체크박스 넣기
            각 입력항목 p태그 말고 input text로 넣으면 좋을 듯 합니다 -->
    <h1>회원가입</h1>
    <h2>본인인증</h2>
    <p>휴대폰 번호</p>
    <input class="signup-input" name="phoneNumber" type="text" value=""><!-- 전화번호 -->
    <input type="button" value="short-btn">
    <p>인증번호</p>
    <input class="signup-input" name="certifiNumber" type="text" value=""><!-- 인증번호 -->
    <input type="button" value="인증번호 확인">
    <h2>기본정보 입력</h2>
    <p>이메일</p>
    <input class="signup-input" name="email" type="text" value=""><!-- 이메일 -->
    <p>필명(ID)</p>
    <input class="signup-input" name="username" type="text" value=""><!-- 아이디 -->
    <input type="button" value="필명 중복검사">
    <p>비밀번호(숫자, 대소문자 포함 8글자 이상)</p>
    <input class="signup-input" name="password" type="password" value=""><!-- 비밀번호 -->
    <p>비밀번호 확인</p>
    <input class="signup-input" name="passwordCheck" type="password" value=""><!-- 비밀번호 확인 -->
    <p>끄적끄적의 약관, 데이터 정책 및 쿠키 정책에 동의</p>
    <input class="acc-button" type="submit" value="회원가입">
</body>

</html>