/* 회원가입, 로그인 공통 Style */
/* 재사용되지 않는 코드는 login.css, signUp.css 확인해주세요 */
/* class 이름 효율성 때문에 공통적인 스타일 요소는 'acc'로 시작합니다. */

/* Color Style 
    black: #000000
    dark-green: #1A2E1B
    green: #205F53
    light-green: #73958F
    beige: #F8F2C9
    dark-gray: #707070
    gray: #CECECE
    light-gray: #F7F8F7
    khaki: #87836B
    error: #FF3636
    success: #0CBB29
    caution: #EFDD39
*/

body {
    background: #1A2E1B;
    text-align: center;
}

/* 로그인, 회원가입 영역 수평 가운데 정렬,
   수직 가운데 정렬은 일부러 안 했습니다 */
.acc-position {
    min-width: 500px;
    min-height: 450px;
    margin: auto;
    padding: 30px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 10;
    text-align: center;
}

.acc-input-section {
    margin: 18px 0px;
}

.acc-title {
    color: #F8F2C9;
    font-size: 50px;
    font-family: 'paybooc-Bold', sans-serif;
    margin: 8px 0;
}

.acc-input-txt {
    color: #87836B;
    font-size: 20px;
    font-family: 'paybooc-Light', sans-serif;
}

/* 회원가입 - 본인인증, 기본정보 입력 */
.acc-guide-txt {
    color: #CECECE;
    font-size: 24px;
    font-family: 'paybooc-Medium', sans-serif;
}

/* 회원가입 약관동의 텍스트 */
.acc-agree-link {
    color: #CECECE;
    font-size: 16px;
    font-family: 'paybooc-Bold', sans-serif;
}

/* error 텍스트 */
.acc-error {
    font-size: 14px;
    margin: 20px 0 18px;
    font-family: 'paybooc-Medium', sans-serif;
}

/* 큰 버튼 */
.acc-wide-btn {
    width: 420px;
    height: 56px;
    padding: 16px 50px;
    margin-top: 20px;
    border: 1px solid #F8F2C9;
    background: #F8F2C9;
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-family: 'paybooc-Bold', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

/* 작은 버튼 */
.acc-small-btn {
    width: 160px;
    height: 56px;
    margin-left: 5px;
    border: 1px solid #F8F2C9;
    background: #F8F2C9;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-family: 'paybooc-Medium', sans-serif;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    outline: none;
}

/* 넓은 input */
.acc-wide-input {
    width: 420px;
    height: 56px;
    padding: 16px 24px;
    margin: 5px 0px;
    border: 1px solid #87836B;
    background: #1a2e1b00;
    color: #87836B;
    font-size: 18px;
    font-family: 'paybooc-Light', sans-serif;
    box-sizing: border-box;
    outline: none;
}

/* 작은 input */
.acc-small-input {
    width: 250px;
    height: 56px;
    padding: 16px 24px;
    margin: 5px 0px;
    border: 1px solid #87836B;
    background: #1a2e1b00;
    color: #87836B;
    font-size: 18px;
    font-family: 'paybooc-Light', sans-serif;
    box-sizing: border-box;
    margin-right: 0px;
    outline: none;
}

/* checkbox : 로그인 유지 버튼, 회원가입 약관동의 버튼 */
.acc-check-box {
    width: 420px;
    height: 48px;
    padding: 12px 0px;
    margin: auto;
    font-size: 16px;
    box-sizing: border-box;
}

.login-check-box {
    width: 420px;
    height: 48px;
    padding: 12px 0px;
    margin: auto;
    font-size: 16px;
    box-sizing: border-box;
    text-align: right;
}

input[id="acc-cb"] {
    display: none;
}

input[id="acc-cb"]+label {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 1px solid #CECECE;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
}

input[id="acc-cb"]:checked+label {
    border-style: none;
    width: 16px;
    height: 16px;
    font-size: 18px;
    color: #CECECE;
    background: url(../check-square-solid.svg) no-repeat center/16px 16px;
}