/* 로그인 전용 Style */

/* 로그인 - 안내 문구 */
.login-guide-txt {
    color: #CECECE;
    font-size: 16px;
    font-family: 'paybooc-Medium', sans-serif;
    
}

.blank {
    margin-top: 5px;
    margin-bottom: 5px;
}