/* reset & default css style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* 1024px 이상일 때 적용할 기본 스타일 */
/* 스크롤바 스타일 */
* ::-webkit-scrollbar {
    width: 6px;
}
  
* ::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 4px;
}

/* 메인컨텐츠 관련 */
.main-container {
    height: 100%;
    padding: 20px 30px;
    margin: 0 auto;
    box-sizing: content-box;
    overflow: hidden;
}

#masonry-container {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.post-container {
    display: inline-block;
    position: absolute;
    width: 280px;
    margin: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.post-container:hover .closed-opacity {
    background-color: rgba(53, 53, 53, 0.5);
}
.post-container:hover .closed-title  {
    color: #181818;
}

.post-container:click .closed-opacity, .post-container:active .closed-opacity {
    border: 3px solid black;
    background-color: rgba(53, 53, 53, 0.5);
}

.closed-img {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
    border-radius: 5px;
}

.closed-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.closed-title {
    position: absolute;
    max-width: 220px;
    top: 30px;
    left: 30px;
    font-size: 16px;
    line-height: 140%;
}

/* opened-container : 1번 펼친 글 스타일 (책정보 없고 글만 있는 상태) */
.opened-post {
    position: fixed;
    top: 102px;
    right: 0px;
    bottom: 0px;
    margin: 15px 30px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    /* border: 1px solid #cecece; */
    border: 1px solid #cecece;
    border-radius: 5px;
    transition: all 0.4s;
    box-sizing: border-box;
    transform: translateZ(0);
    overflow-y:scroll;
}

.post-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-sizing: border-box;
}

.btn-close {
    position: absolute;
    all: unset;
    cursor: pointer;
    padding: 10px 15px;
    float: right;
  }

.pub-date {
    position: absolute;
    top: 250px;
    right: 90px;
}

.pub-user {
    position: absolute;
    top: 250px;
    right: 30px;
}

.bottom-post-box {
    width: 100%;
    padding: 30px 50px;
    background-color: #f3f3f3;
}

.post-title {
    margin-bottom: 10px;
}

.post-body {
    line-height: 1.5;
}

.open-book{
    margin-top: 20px;
}

.open-book:hover {
    color: #1A2E1B;
    cursor: pointer;
}

/* post의 도서 관련 정보 (이미지 // 도서명, 작가, 소개글, 링크) */
.bottom-book-box {
    width: 100%;
    padding: 30px 30px;
    background-color: #E2E2E2;
    text-align: center;
}

.book-title, .book-author {
    font-size: 14px;
    text-align: left;
}

.book-img {
    display: inline-block;
    width: 25%;
    margin-right: 10px;
    object-fit: cover;
    box-sizing: border-box;
    object-fit: cover;
    box-sizing: border-box;
}

.book-text {
    display: inline-block;
    width: 68%;
    text-align: left;
}

.book-info {
    margin-top: 10px;
    font-size: 12px;
}

.book-url {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
}

.book-url:hover {
    color: #1A2E1B;
    cursor: pointer;
}